* {
    padding: 0px;
    margin: 0px;
    font-family: "League Spartan";
}

@media screen and (max-width: 600px) {
    body {
        color: white;
        background-repeat: no-repeat;
        background-image: url(https://prodigits.co.uk/content4/wallpapers/2024/p2/46/e7ra7783.jpg);
        background-color: rgba(0, 0, 0, 0.89);
        background-size: 900px;
        background-blend-mode: multiply;
        background-position: center;
    }

    #treino {
        display: flex;
        align-items: center;
        
    }

    #treino #ficha {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        padding: 20px;
        width: 265px;
        height: 400px;
        overflow-y: auto;
        border-radius: 20px;
        font-size: 25px;
        transition: .2s;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.568);

    }

    #ficha #title {
        color: #ffd000;
    }

    #treino-a, #treino-b, #treino-c, #treino-d, #treino-e {
        align-self: center;
        justify-self: center;
        
    }

    #treino #left {
        
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
        left: 8px;
        background-color: transparent;
        border: none;
        transition: .2s
    }

    #treino #right {
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
        right: 8px;
        background-color: transparent;
        border: none;
        transition: .2s
    }

    #treino #right img, #left img {
        width: 40px;
    }

    #treino #right:active, #treino #left:active {
        transform: scale(1.2);
        
    }

    #treino #save {
        position: absolute;
        top: 85%;
        padding: 12px 40px;
        font-size: 25px;
        box-shadow: 0px 0px 30px 0px #ffd00034;
        background-color: #ffd000;
        border: none;
        color: rgb(0, 0, 0);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        left: 50%;
        transform: translate(-50%);
        transition: .2s;
    }

    #treino #save:active {
        background-color: #866e00;
    }

    #ficha input {
        padding: 5px;
        height: 20px;
        width: 40px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #555555;
        border-radius: 20px;
        text-align: center;
        color: white;
        margin-bottom: 10px;
        margin-right: 10px;
        
    }
}